:root {
  --black: #141414;
  --white: #F0F0F1;
  --primary: #424A4E;
  --secondary: #4968AB;
}

html {
  font-family: 'Work Sans', 'Montserrat', 'Seravek', 'Sans-serif';
}

body {
  background: var(--primary);
  color: var(--white);
  height: 100%; width: 100%;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

nav ul li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.justify-right {
  justify-self: flex-end;
}

.search_field {
  min-width: 5rem;
  font-size: 13pt;
  padding: .8rem .5rem .8rem 2.4rem;
  border: none;
  border-radius: 5px;
  background-image: url('../img/searching.svg');
  background-size: 17px;
  background-position: 12px 15px; 
  background-repeat: no-repeat;
}

.movie-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
}

.movie-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari & Opera */
}

.movie-list h2 {
  font-size: 12pt`;
}

.copyright {
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: rgb(90, 100, 104);
	text-align: center;
}

.copyright .p-small {
	color: #f1f1f8;
	opacity: 0.6;
}